@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Skranji&display=swap');
:root{
  --first-color: #1DA291;
  --second-color: #87888a;
  --third-color: #D4FCFA;
  --fourth-color: #62B2A7;
  --text-color: #ffffff;
  --back-color:#FAF6F1;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* h1{
  font-family: 'Oswald', sans-serif;
 } */
